<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title>
          Quasar App
        </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>
    <q-page-container>
      <!-- <router-view /> -->
        <q-table
          v-if="finishLoading"
          title="Superhero"
          :rows="data"
          :columns="columns"
          row-key="name"
        >
          <template v-slot:header="props">
            <q-tr :props="props">
              <q-th auto-width />
              <q-th
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                {{ col.label }}
              </q-th>
            </q-tr>
          </template>

          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td auto-width>
                <q-btn v-if="props.row.squard" size="sm" color="accent" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
              </q-td>
              <q-td
                v-for="col in props.cols"
                :key="col.name"
                :props="props"
              >
                {{ col.value }}
              </q-td>
            </q-tr>
            <q-tr v-if="props.row.squard" v-show="props.expand" :props="props">
              <q-td colspan="100%">
                <q-table
                  hide-header
                  hide-bottom
                  :rows="props.row.squard"
                  :columns="columnsChildren"
                >
                  <template v-slot:body="props">
                    <q-tr :props="props">
                      <q-td auto-width>
                        <q-btn v-if="props.row.squard" size="sm" color="accent" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" />
                      </q-td>
                      <q-td
                        v-for="col in props.cols"
                        :key="col.name"
                        :props="props"
                      >
                        {{ col.value }}
                      </q-td>
                    </q-tr>
                    <q-tr v-if="props.row.squard" v-show="props.expand" :props="props">
                      <q-td colspan="100%">
                        <q-table
                          hide-header
                          hide-bottom
                          :rows="props.row.squard"
                          :columns="columnsChildren"
                        >
                              
                        </q-table>
                      </q-td>
                    </q-tr>
                  </template>
                </q-table>
              </q-td>
            </q-tr>
          </template>
        </q-table>
    </q-page-container>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from 'vue'
import { api } from 'boot/axios'
import { useQuasar } from 'quasar'

export default defineComponent({
  name: 'MainLayout',

  mounted() {
    this.loadData();
  },

  setup () {
    const columns = [
      {
        name: 'name',
        required: true,
        label: 'Name',
        align: 'left',
        field: row => row.name,
        sortable: true
      },
      { name: 'age', label: 'Age', field: 'age', sortable: false },
      { name: 'hobbies', label: 'Hobbies', field: 'hobbies', sortable: false },
      // { name: 'carbs', label: 'Carbs (g)', field: 'carbs' },
      // { name: 'protein', label: 'Protein (g)', field: 'protein' },
      // { name: 'sodium', label: 'Sodium (mg)', field: 'sodium' },
      // { name: 'calcium', label: 'Calcium (%)', field: 'calcium', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) },
      // { name: 'iron', label: 'Iron (%)', field: 'iron', sortable: true, sort: (a, b) => parseInt(a, 10) - parseInt(b, 10) }
    ]

    const columnsChildren = [
      {
        name: 'name',
        required: true,
        label: 'Name',
        align: 'left',
        field: row => row.name,
        sortable: true
      },
      { name: 'age', label: 'Age', field: 'age', sortable: false },
      { name: 'hobbies', label: 'Hobbies', field: 'hobbies', sortable: false }
    ]

    const rows = [
      {
        name: 'Frozen Yogurt',
        calories: 159,
        fat: 6.0,
        carbs: 24,
        protein: 4.0,
        sodium: 87,
        calcium: '14%',
        iron: '1%'
      },
      {
        name: 'Ice cream sandwich',
        calories: 237,
        fat: 9.0,
        carbs: 37,
        protein: 4.3,
        sodium: 129,
        calcium: '8%',
        iron: '1%'
      },
    ]





    const $q = useQuasar()
    const data = ref(null)
    const finishLoading = ref(false)

    function loadData () {
      console.log('load data')
      api.get('http://demo2725834.mockable.io/api/v1/list')
        .then((response) => {
          data.value = response.data.data
          finishLoading.value = true
          console.log(response.data.data)
        })
        .catch(() => {
          $q.notify({
            color: 'negative',
            position: 'top',
            message: 'Loading failed',
            icon: 'report_problem'
          })
        })
    }

    function printf(e) {
      console.log(JSON.parse(JSON.stringify(e)))
      return JSON.parse(JSON.stringify(e))
    }

    return { data, loadData, rows, columns, finishLoading, printf, columnsChildren }
  }
})
</script>
